<div id="top" class="row">
    <div class="col-xs-3">
        <h2>Focas</h2>
    </div>

    <div class="col-xs-6">
        <div class="input-group h2">
            <input name="search" ng-model="filter" class="form-control" id="search" type="text"
                   placeholder="Pesquisar Focas">
            <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
        </div>
    </div>

    <div class="col-xs-3">
        <a class="btn btn-primary pull-right h2" href="foca/add">Adicionar</a>
    </div>

</div>
<div id="list" class="row">
    <div class="table-responsive col-xs-12">
        <table class="table table-striped" cellspacing="0" cellpadding="0">
            <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Data Nascimento</th>
                <th>Qtd. Filhotes</th>
                <th class="actions col-xs-2">Ações</th>
            </tr>
            </thead>
            <tbody>

            <tr ng-show="!focas.length">
                <td colspan="5">
                    <div class="alert alert-warning" role="alert">Sem resultado!</div>
                </td>
            </tr>
            <tr ng-show="focas.length"
                ng-repeat="foca in focas | filter:filter">
                <td>{{foca.id}}</td>
                <td>{{foca.nome}}
                    <span ng-show="foca.idade >= 20"
                          uib-tooltip="Limite de idade atingido."
                          tooltip-placement="top"
                          tooltip-trigger="'mouseenter'"
                          class="glyphicon glyphicon-info-sign alert-danger"></span>
                </td>
                <td>{{foca.dt_nas | asDate: 'dd/M/yyyy'}}</td>
                <td>{{foca.qtd_filhotes}}</td>
                <td class="actions">
                    <a class="btn btn-success btn-xs" ng-click="openModal(foca)">Detalhar</a>
                    <a class="btn btn-warning btn-xs" href="foca/edit/{{foca.id}}">Editar</a>
                    <a class="btn btn-danger btn-xs" ng-click="abreModalDelete(foca)">Excluir</a>
                </td>
            </tr>

            </tbody>
        </table>

    </div>

</div>